@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto:wght@400;900&display=swap");

* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

a {
	text-decoration: none;
	color: var(--text);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
}

body {
	background-color: #010101;
	color: #fff;
	font-family: Comfortaa, sans-serif;
	line-height: 1.55;
}

.main-header {
	position: relative;
}
.main-header::after {
	content: "";
	position: absolute;
	z-index: 3;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../../img/ground.png);
	bottom: calc(var(--index) * -4.5);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.layers {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layers__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	padding: 10px;
	padding-bottom: calc(var(--index) * 13);
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__greeting {
	font-weight: 900;
	font-size: calc(var(--index) * 4.1);
	letter-spacing: calc(var(--index) / 2);
	text-transform: uppercase;
}
.layers__title {
	letter-spacing: calc(var(--index) / 3.7);
	font-size: calc(var(--index) * 1.1);
}
.layers__title > strong {
	font-weight: 900;
}

.layer {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	background-image: url(../../img/layer-base.png);
	z-index: 0;
}

.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
	background-image: url(../../img/layer-middle.png);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
	background-image: url(../../img/layer-front.png);
}

.main-article {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
	background-image: url(../../img/dungeon.jpg);
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-article__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: calc(var(--index) * 2.5);
	max-width: 1200px;
}

.main-article__header {
	text-transform: uppercase;
	letter-spacing: calc(var(--index) / 7.8);
	font-size: calc(var(--index) * 1.2);
}

.gallery__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	gap: 15px;
	/* max-width: 1140px; */
	margin: 0 auto;
	padding: calc(var(--index) / 1);
}

@media screen and (max-width: 350px) {
	.gallery__grid {
		grid-template-columns: repeat(auto-fit, minmax(240px, auto));
	}
}

.gallery__grid,
.gallery__grid * {
	box-sizing: border-box;
}

.grid-item {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
	padding: 0 15px;
	/* width: 33%; */
}

.grid-item__inner {
	position: relative;
	height: 100%;
	display: flex;
	cursor: pointer;
	overflow: hidden;
}

.grid-item__inner::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: all 0.4s ease;
	z-index: 2;
}

.grid-item__inner:hover::before {
	opacity: 1;
}

.grid-item__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.25s ease;
}

.grid-item__inner:hover .grid-item__img {
	transform: scale(1.1);
}

.grid-item__desc {
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-size: 18px;
	color: var(--text);
	overflow: hidden;
	z-index: 3;
}

.grid-item__desc > ul {
	display: block;
	transform: translateY(80px);
	transition: transform 0.25 ease;
}
.grid-item__desc > ul > li {
	padding: 3px;
}

.grid-item__inner:hover .grid-item__desc > ul {
	transform: translateY(0);
}

.grid-item__title {
	display: flex;
	height: 140px;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding: 10px 20px;
	font-size: calc(var(--index) * 0.95);
}

@media screen and (min-width: 1250px) {
	.grid-item__title {
		font-size: calc(var(--index) * 0.75);
	}
}

@media screen and (min-width: 1550px) {
	.grid-item__title {
		font-size: calc(var(--index) * 0.45);
	}
}

.footer {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	/* bottom: calc(var(--index) * 2.5); */
}

.footer-copy {
	/* position: absolute; */
	opacity: 0.45;
	font-style: calc(var(--index) * 0.75);
	letter-spacing: calc(var(--index) / 37);
}
